API_URL="https://api.hbo-ict.cloud"
API_KEY="jouw-api-key"
ADMIN_EMAIL="admin@example.com"

DB_NAME="Workshopportaal"
DB_USER="workshopuser"
DB_PASSWORD="jouw-wachtwoord"

DATABASE_URL="mysql+pymysql://root:jouw-wachtwoord@db:3306/Workshopportaal"

SECRET_KEY="een-lange-random-geheime-string"
